.main {
  padding-inline: 1rem;
  max-width: 100rem;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  justify-self: center;
  max-width: 800px;
}

.logo {
  width: 200px;
}